body {
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}
.container {
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #a89595;
    padding: 15px;
}
.view{
    cursor: pointer;
    text-decoration: none;
}
.view:hover{
    color: blue;
}
.logo, .login {
    font-size: 18px;
    cursor: pointer;
}

.minidiv {
    display: flex;
    justify-content: space-between;
    width: 56%;
    margin-right: 15px;
    align-items: center;
}
.content {
    width: 99%;
    background-color: #f8d7da;
    text-align: center;
    padding: 40px 21px;
    height: 520px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content p {
    margin: 20px 0;
    font-size: 16px;
}

.register-button {
    background-color: #ff9933;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 15%;
}
img.imgwidth {
    width: 40px;
    border-radius: 30px;
}
.register-button:hover {
    background-color: #e6891e;
}
.login {
    display: flex;
    align-items: center;
    gap: 20px;
}
span:hover {
    text-decoration: underline;
    color:blue;
}
a{
    text-decoration: none;
    color: black;
}